    <div class="row">
    	<div class="span6">
	        <div class="box">
	          <button class="btn btn-inverse" {{action getMessage}}>
				    	hello guice
			  </button>
			  
			  {{view Ember.TextArea class="span6" valueBinding="message" rows="5" placeholder=""}}
	        </div>
        </div>
    </div>
